* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    background: #e4e4e4;
    animation: color 9s infinite linear;
}
.wrapper{
    position: absolute;
}
.area {
    background: #e4e4e4;
    background: -webkit-linear-gradient(to left, #000, #e4e4e4);
    width: 100%;
    height: 100vh;
    position: relative;
}


.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #024b49;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background: #d46c7b;

}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    background: #804160;

}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.header {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background-color: #a9b7b7;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo a {
    font-family: "Dancing Script", cursive;
    color: #222;
    font-size: 22px;
    display: block;
    text-decoration: none;
    font-weight: 400;
}

.list-item ul {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.list-item ul a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-weight: 550;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200;
}

.list-item .icon {
    display: none;
}

.list-item.responsive a {
    float: none;
    display: block;
    text-align: left;
}


/* menu toggle */
.menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.menu-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #333;
    position: relative;
    transition: all 0.3s;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: all 0.3s;
}

/* pseudo-element */
.menu-icon::before {
    top: -6px;
}

.menu-icon::after {
    top: 6px;
}

.menu-toggle[aria-expanded="true"] .menu-icon {
    transform: rotate(45deg);
}

.menu-toggle[aria-expanded="true"] .menu-icon::before {
    transform: rotate(90deg) translate(6px, 0);
}

.menu-toggle[aria-expanded="true"] .menu-icon::after {
    display: none;
}


@media screen and (max-width: 992px) {
    .header {
        background-color: #e5ecec;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
    }

    .list-item {
        display: flex;
        align-items: center;
    }

    #menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        background-color: #333;
    }

    #menu li {
        background-color: #748D92;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #fff;
        cursor: pointer;
    }

    #menu li:first-child {
        border-top: 1px solid #fff;
    }

    .menu-toggle {
        display: flex;
    }

    #menu[aria-hidden="true"] {
        display: none;
    }

    #menu[aria-hidden="false"] {
        display: block;
    }

    .list-item.responsive {
        position: relative;
    }

    .list-item.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-picture img:hover {
    box-shadow: 0px 0px 20px 0px #006769;
    transition: box-shadow 1s;
}

.title {
    margin-top: 20px;
}

/* .title p {
    display: flex;
    align-items: center;
} */

.role {
    margin-right: 10px;
    /* add some space between the role and developer */
}

.intro {
    width: 100%;
}

.background {
    text-align: center;
}

.background p {
    text-align: left;
    margin-top: 20px;
    padding: 16px;

}

.background h1 {
    margin-top: 20px;
}

.button {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button a {
    display: block;
    width: 200px;
    height: 40px;
    text-indent: -9999px;
    line-height: 40px;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.35s;
    margin: 28px auto;
}

.button a:before,
.button a:after {
    position: absolute;
    content: attr(data-title);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid #074c56;
    text-indent: 0;
    transition: all 0.35s;
}

.button a:before {
    color: #fff;
    background: #074c56;
    transform-origin: left;
    transform: translateX(0) rotateY(0deg);
}

.button a:after {
    color: #3A5154;
    background: #fff;
    transform: translateX(-100%) rotateY(90deg);
    transform-origin: right;
}

.button a:hover:before {
    transform: translateX(100%) rotateY(90deg);
}

.button a:hover:after {
    transform: translateX(0) rotateY(0deg);
}

.whatido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 16px;
    width: 100%;
    margin-top: 42px;
}

.whatido h3 {
    color: #9c5056;
}

.underline-effect {
    display: inline-block;
    position: relative;
    color: #9c5056;
}


.underline-effect::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9c5056;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-effect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.tech-stack-desktop-only {
    display: none;
}

.tech-stack {
    padding: 16px;
}

.tech-stack h2 {
    border-bottom: 2.5px solid #726f6f;
    margin-bottom: 20px;
    text-align: center;
}

.tech-stack .skills-show {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 600px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    list-style-type: none;
}

.skills-hide {
    max-width: 600px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 70px auto;
}

.clickable-text:hover {
    color: #fcca00;
}

.skills-hide {
    max-width: 600px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 70px auto;
    padding: 16px;
}

.clickable-text:hover {
    color: #9c5056;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding: 40px 20px;
}

.timeline-text {
    text-align: center;
}

.timeline-text .underline-effect {
    margin-top: 31px;
    font-size: 17px;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #9c5056;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 8em;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
}

.timeline-item::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #9c5056;
    border-radius: 50%;
    top: 0;
    left: 50%;
    margin-left: 7.5em;
}

.timeline-item.left .timeline-content {
    left: 70%;
}

.timeline-item.right .timeline-content {
    left: 20%;
}

.timeline-content {
    position: relative;
    left: 30px;
}

.underline-effect::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9c5056;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-effect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.work-experience {
    padding: 16px;
    width: 100%;
    margin-top: 15px;
}

.certifications,
.education,
.contactme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    width: 100%;

}

.contactme h2 {
    margin-bottom: 31px;
}

.education .edu {
    list-style-type: none;
    margin: 31px;
}

.education p {
    line-height: 2;
}

.certifications h2 {
    margin-bottom: 31px;
}

.certs {
    list-style-type: none;
}

.non-breaking-hyphen::before {
    content: "\2011";
}

.container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 18px;
}

.container-icon a {
    color: #006769;
}

.container-icon a :visited {
    color: #006769;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 33px 16px;

}

.tech-stack .accordion {
    width: 100%;
    margin: 33px auto;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.item {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 30px;
    align-items: center;
    padding: 21px;
    cursor: pointer;
    border-radius: 5px;
}

.item h2 {
    font-size: 18px;
    color: #8D8E8A;
}

.icon {
    width: 24px;
    height: 24px;
    color: #9c5056;
}

.hidden-box {
    grid-column: 1/3;
    display: none;
}

.hidden-box p {
    line-height: 1.6;
    margin-bottom: 24px;
    font-size: 20px;
    letter-spacing: 0.5px;
    word-spacing: 3px;
}

.hidden-box ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hidden-box ul li {
    margin-left: 16px;
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: 0.5px;
    word-spacing: 3px;
}

.active {
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    border-top: 3px solid #40A578;
    animation: borderline 1s linear forwards;
}

@keyframes borderline {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.active .hidden-box {
    display: block;
}

.p1,
.p2 {
    animation: fade 4s infinite;
}

.p1 {
    animation-delay: 0s;
}

.p2 {
    animation-delay: 2s;
}

.static {
    position: relative;
    z-index: 1;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 576px) {
    .whatido {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
.container h2{
    margin-top: 57px;
}

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex: 1 0 45%;
        margin: 10px;
    }

    h3 {
        margin-top: 0;
    }
}


@media screen and (min-width: 1024px) {
    .header {
        height: 65px;
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        background-color: #a9b7b7;
    }

    .intro {
        display: flex;
        margin-top: 100px;
        position: relative;
        gap: 71px;

        .title {
            position: absolute;
            left: 24em;
            bottom: 86%;
        }

        .background {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }

        .background .name {
            display: flex;
            margin: 33px 0 0 14px;
        }

        .background .button {
            position: absolute;
            left: 24em;
            top: 88%;
        }

        .background p {
            margin: 18px 0;
            width: 72%;
        }

    }

    .profile-picture {
        display: flex;
        margin: 50px;

    }

    .logo a {
        font-family: "Dancing Script", cursive;
        color: white;
        font-size: 22px;
        display: block;
        text-decoration: none;
        font-weight: 400;
    }

    .menu-icon {
        display: block;
        width: 20px;
        height: 2px;
        background-color: white;
        position: relative;
        transition: all 0.3s;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: white;
        position: absolute;
        transition: all 0.3s;
    }

    .tech-stack-desktop-only {
        display: block;
    }

    .tech-stack {
        display: none;
    }

}

@media screen and (min-width: 769px) and (max-width: 1027px) {

    .intro {
        display: flex;
        margin-top: 100px;
        position: relative;
        gap: 14px;

        .title {
            position: absolute;
            left: 19em;
            bottom: 88%;
        }

        .background {
            display: flex;
            flex-direction: column;
            margin-top: 24px;
        }

        .background .name {
            display: flex;
            margin: 25px 0 0 14px;
        }

        .background .button {
            position: absolute;
            left: 19em;
            top: 78%;
        }

        .background p {
            margin: 10px 0;
        }

    }

    .profile-picture {
        display: flex;
        margin: 90px 37px;

    }

    .tech-stack-desktop-only {
        display: block;
    }

    .tech-stack {
        display: none;
    }

}

@media screen and (min-width: 864px) and (max-width: 1026px) {

    .intro {
        display: flex;
        margin-top: 100px;
        position: relative;
        gap: 14px;

        .background {
            display: flex;
            flex-direction: column;
            margin-top: 47px;
        }

        .background .button {
            position: absolute;
            left: 19em;
            top: 78%;
        }

        .title {
            position: absolute;
            left: 19em;
            bottom: 82%;
        }

    }

    .tech-stack-desktop-only {
        display: block;
    }

    .tech-stack {
        display: none;
    }

}

@media screen and (min-width: 943px) and (max-width: 1025px) {

    .intro {
        display: flex;
        margin-top: 100px;
        position: relative;
        gap: 14px;

        .background .button {
            position: absolute;
            left: 19em;
            top: 73%;
        }
    }

    .header {
        height: 65px;
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        background-color: #a9b7b7;
    }


    .logo a {
        font-family: "Dancing Script", cursive;
        color: white;
        font-size: 22px;
        display: block;
        text-decoration: none;
        font-weight: 400;
    }

    .menu-icon {
        display: block;
        width: 20px;
        height: 2px;
        background-color: white;
        position: relative;
        transition: all 0.3s;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: white;
        position: absolute;
        transition: all 0.3s;
    }

    .whatido {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;

    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex: 1 0 45%;
        margin: 10px;
    }

    h3 {
        margin-top: 0;
    }

    .tech-stack-desktop-only {
        display: block;
    }

    .tech-stack {
        display: none;
    }

}

.underline-effect {
    display: inline-block;
    position: relative;
    color: #9c5056;
}

.underline-effect::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9c5056;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-effect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.tech-stack-desktop-only {
    padding: 16px;
}

.tech-stack-desktop-only h1 {
    border-bottom: 2.5px solid #726f6f;
    margin-bottom: 20px;
    text-align: center;
}

.tech-stack-desktop-only .skills-show {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 600px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    list-style-type: none;
}

.skills-hide {
    max-width: 600px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 70px auto;
}

.clickable-div:hover {
    color: #40A578;
}